.app {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

code {
    background-color: #1a1a1a;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-family: monospace;
}
